<h3>Awoochi in a Nutshell</h3>
<p>
  We're an achievements platform blah blah.
</p>

<h3>Meet the Team</h3>
<p>
  <%= image_tag 'http://profile.ak.fbcdn.net/hprofile-ak-snc4/195645_100001543035903_6412261_n.jpg', :class => "imagebullet" %>
  <h4>Andrew Brown</h4>
  <p>
    Derp
  </p>
  <div style="clear: both"></div>
</p>

<p>
  <%= image_tag 'http://profile.ak.fbcdn.net/hprofile-ak-snc4/161796_100001074292080_5377930_n.jpg', :class => "imagebullet" %>
  <h4>Donovan Hernandez</h4>
  <p>
    Derp
  </p>
  <div style="clear: both"></div>
</p>

<p>
  <%= image_tag 'http://profile.ak.fbcdn.net/hprofile-ak-snc4/195494_1129860163_2119027_n.jpg', :class => "imagebullet" %>
  <h4>Joseph Kurtz</h4>
  <p>
    Derp
  </p>
  <div style="clear: both"></div>
</p>
