<h3>Awoochi Adopters</h3>
<table class="stretch">
	<tr>
	
		<td>
		  <a href="http://www.drusepth.net">
			  <%= image_tag 'docs/website.png', :class => 'imagebullet' %>
			  <h4>Drusepth Chown</h4>
			</a>
			<p>
			  Literary wonderland
			</p>
		</td>
		
		<td>
		  <a href="https://www.thunked.org/p/">
			  <%= image_tag 'docs/blog.png', :class => 'imagebullet' %>
			  <h4>Thunked Pastebin</h4>
			</a>
			<p>
			  Open-source tabbed pastebin
			</p>
		</td>
		
	</tr>
  <tr>
  
		<td>
		  <a href="http://www.insomnia247.nl">
			  <%= image_tag 'docs/website.png', :class => 'imagebullet' %>
			  <h4>Insomnia 24/7</h4>
      </a>
			<p>
			  Hacker wargames
			</p>
		</td>
		
		<td>
      <a href="http://www.rollacoders.org">
			  <%= image_tag 'docs/blog.png', :class => 'imagebullet' %>
			  <h4>Rolla Coders</h4>
      </a>
			<p>
			  University programming club
			</p>
		</td>
		
	</tr>
</table>
<p>
  If you're using Awoochi and you're not listed here, we'd <a href="/pages/contact">love to hear from you</a>!
</p>
